<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @users_collection.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @users_collection.description %>
</p>

<%= link_to 'Edit', edit_users_collection_path(@users_collection) %> |
<%= link_to 'Back', users_collections_path %>
